@import url('https://fonts.googleapis.com/css2?family=Modak&family=Pacifico&family=REM:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body
{
    display: grid;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #4C4F54;
}
body.dark-theme
{
    background-color: #00203E;
}
::selection
{
    background-color: #380F17;
    color: #CD1A30;
}
body.dark-theme ::selection
{
    background-color: #0BB451;
    color: #00203E;
}
.calculator
{
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* background-color: #FEE7B5; */
    background-color: #252B2B;
    row-gap: 5px;
    /* padding: 150px; */
    border-radius: 20px;
    height: 380px;
    width: 250px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
body.dark-theme .calculator
{
    background-color: #232342;
}
.screen
{
    height: 50px;
    width: 215px;
    border-radius: 30px;
    background-color: #FEE7B5;
    font-family: monospace;
    font-weight: 600;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #252B2B;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}
body.dark-theme .screen
{
    background-color: #EEEEEE;
    color: #232342;
}
.button
{
    display: grid;
    grid-template-columns: 50px 50px 50px 50px;
    grid-template-rows: 50px 50px 50px 50px;
    column-gap: 5px;
    row-gap: 5px;
}
#equal
{
    width: 100px;
    background-color: #380F17;
    color: #E53030;
}
body.dark-theme #equal
{
    background-color: #232342;
    color: #109E4B;
}
#equal:hover
{
    background-color: #E53030;
    color: #380F17;
    transition: all 0.1s ease-in;
}
body.dark-theme #equal:hover
{
    background-color: #109E4B;
    color: #232342;
}
button
{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
button:hover
{
    cursor: pointer;
}
.item
{
    background-color: #CD1A30;
    color: white;
}
body.dark-theme .item
{
    background-color: #109E4B;
    color: #EEEEEE;
}
.item:hover
{
    background-color: #8F0B13;
    color: white;
    transition: all 0.1s ease-in;
}
body.dark-theme .item:hover
{
    background-color: #232342;
    color: #109E4B;
}
.calculate
{
    background-color: #E53030;
    color: white;
}
body.dark-theme .calculate
{
    background-color: #003E48;
    color: #EEEEEE;
}
.calculate:hover
{
    background-color: #8F0B13;
    color: white;
    transition: all 0.1s ease-in;
}
body.dark-theme .calculate:hover
{
    background-color: #232342;
    color: #0BB451;
}
i
{
    font-size: 30px;
    text-align: center;
    color: #FEE7B5;
}
i:hover
{
    color: #8F0B13;
    transition: all 0.2s ease-in-out;
}
body.dark-theme i
{
    color: #EEEEEE;
}
body.dark-theme i:hover
{
    color: #232342;
}
